 <h2>Add Your Catch</h2>
 
 <form class="add_new_fish" action="/add_fish" method="POST">
    <label for="">Title: </label>
    <input type="text" name="title">

    <label for="">Image URL: </label>
    <input type="text" name="image_url">

    <label for="">Content: </label>
    <textarea name="content" rows="5"></textarea>
    <%# <input type="text" name="content"> %>

    <label for="">Trade Location: </label>
    <input type="text" name="trade_location">

    <button>Add</button>
</form>