

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/signup">SignUp</a>
<a href="/login">Login</a>
<a href="/profile">My Profile</a>
<a href="/zone">Personal Zone</a>



<h3>SEARCH A MOVIE</h3>
<form action="/movie_details">
    <input type="text" name="movie_name"> 
    <button>Search</button>
</form>